# Ignore all subfolders of folder
projects_to_analyze/*/
# …except this one
!projects_to_analyze/customTestProject/

.env
.git
.venv/
__pycache__/
*.pyc
output/*
output_ATD_identification/*
.vscode/
*.log
.quality/*
reports/*
results/*
openhands_logs/*
results_clean_baseline/*
all_experiment_results/*
all_experiment_results_backup/*
all_experiment_results.zip