# Ignore all subfolders of folder
projects_to_analyze/*/
# …except this one
!projects_to_analyze/customTestProject/

.git
.venv/
__pycache__/
*.pyc
output/*
output_ATD_identification/*
.vscode/
*.log
.quality/*
reports/*